<!DOCTYPE html>
<html lang="en">
<head>
<title>Hey Baby</title>
</head>
<body>
{{range .Rchart}}
Relation: {{.Action}} {{.Noun}}</body>
{{end}}
{{range .Fchart}}
Family: {{.Link}} {{.Noun}}</body>
{{end}}
</html>
